/*Hidding mechanism*/

  .phone {
    display: none;}

  @media screen and (orientation: portrait) {
    
    .desktop {
      display: none;}
    
    .phone {
      display: block;}}



/*General settings*/

  html {
    scroll-behavior: smooth;
    width: 100%;}

  body {
    background-color: white;
    margin: 0px;}

  a {
    text-decoration: none;}

  img {
    width: 100%;
    display: block;}



/*Desktop*/

    .grid-header {
      grid-column: 1 / 4;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      max-width: 15vw;}

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);}

    .grid-item {
      transition: background-color 0.3s ease;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      font-family: "Jost", sans-serif;
      font-size: 2vw;}
    
    .grid-footer {
      transition: background-color 0.3s ease;
      grid-column: 1 / 4;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
      color: #FFFFFF;
      font-family: "Montserrat", sans-serif;
      font-size: 1vw;}



/*Phone Version*/

    .grid-phone-header {
      grid-column: 1 / 3;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 25vw;
      margin: auto;}

    .grid-phone-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);}

    .grid-phone-item {
      transition: background-color 0.3s ease;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      font-family: "Jost", sans-serif;
      font-size: 3.5vw;}
    
    .grid-phone-footer {
      transition: background-color 0.3s ease;
      grid-column: 1 / 3;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
      color: #FFFFFF;
      font-family: "Montserrat", sans-serif;
      font-size: 2vw;}